h1 {
    font-size: 50px;
    color: goldenrod;
}

p {
    font-size: 20px;
}

h2 > a {
    font-size: 35px;
    text-decoration: none;
    font-style: italic;
    color: indigo;
}

li {
    font-style: italic;
    margin-bottom: 5px;
    list-style-type: none;
}

span {
    font-style: normal;
}