@media screen and (min-width: 0px) and (max-width: 768px) {
    .container {
        box-sizing: border-box;
        padding: 2vh 1vh 0 1vh;
        width: 100%;
    }

    .container_body {
        flex-direction: column;
    }

    .container_header {
        height: 20vh;
        margin-bottom: 2vh;
    }

    .container_body_l {
        width: 100%;
        height: 52vh;
        margin-bottom: 2vh;
    }

    .container_body_r {
        width: 100%;
        height: 20vh;
    }

}
